.wcf-select {
  display: inline-block;
  min-width: 200px;
  max-width: 100%;
  width: 100%;

  & &__control {
	padding: 2px 4px;
	min-height: 0;
	border-radius: 2px;
  }

  & &__input-container {
	margin: 0;
	padding: 0;
  }

  & &__input {
	padding: 0;
	border: 0;
	line-height: 1;
	min-height: 1rem;
  }

  & &__input:focus {
	box-shadow: none;
  }

  & &__indicator {
	padding: 2px 0 2px 8px;
  }

  & &__indicator-separator {
	margin: 2px 0;
  }

  & &__value-container {
	padding: 0;
	gap: 4px;
  }

  & &__multi-value {
	margin: 0;
  }

  & &__menu {
	z-index: 1000;
  }
}
